* {
    margin: 0;
    padding: 0;
}

html, body, .indexPage {
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

.indexPage {
    display: flex;
    flex-direction: column;
}
/* NAVBAR */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, rgb(24, 27, 164), rgb(56, 243, 235));
    width: 100%;
    min-height: 10vh;
    font-family: 'Poppins', sans-serif;
    position: fixed;
}

h1 {
    width: 30%;
    font-size: 20px;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    }

.navlinks {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

.navlinks li a {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;

}

.burger {
    display: none;
    
}

.burger div {
    width: 20px;
    height: 2px;
    margin: 3px;
    background-color: fff;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1200px) {
    .navlinks {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    
    h1 {
        width: 60%;
        letter-spacing: 3px;
        }
   
    .navlinks {
        position: absolute;
        min-height: 60vh;
        border-top: 1px solid rgb(60, 243, 235);
        flex-direction: column;
        align-items: center;
        background: linear-gradient(to bottom, rgb(56, 243, 235), rgb(24, 27, 164));
        top: 10vh;
        width: 40%;
        right: 0px;
        transform: translateX(100%);
        transition: transform 0.6s ease-in;
    }

    .navlinks li {
        opacity: 0;
    }
    .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(-150%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.toggleBurger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggleBurger .line2 {
    opacity: 0;
}
.toggleBurger .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}


/* IMAGEBOX */
.imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin-top: 10vh;
    background-image: url('./images/laptop.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
    opacity: 1;
}

.imageBox h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-shadow: 3px 3px 5px black;
}


.about h2 {
    width: 100%;
    text-align: center;
    font-size: 70px;
    margin: 50px 0;
}

.about .logos {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.about .logos img {
    width: 15vw;
    height: 15vw;
}

@media screen and (max-width: 768px) {
    .about h2 {
        font-size: 40px;
    }

}