* {
    margin: 0;
    padding: 0;
}

html, body, .indexPage {
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

.indexPage {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}
/* NAVBAR */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgb(0, 1, 18), rgb(4, 7, 122));
    width: 100%;
    min-height: 10vh;
    font-family: 'Poppins', sans-serif;
    position: fixed;
}

h1 {
    width: 30%;
    font-size: calc(.8em + .8vw);
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    }

.navlinks {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

.navlinks li a {
    font-size: calc(.6em + .6vw);
    letter-spacing: 3px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;

}

.burger {
    display: none;
    
}

.burger div {
    width: 20px;
    height: 2px;
    margin: 3px;
    background-color: fff;
    transition: all 0.3s ease;
}


@media screen and (max-width: 1200px) {
    .navlinks {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    
    h1 {
        width: 60%;
        letter-spacing: 3px;
        }
   
    .navlinks {
        position: absolute;
        min-height: 30vh;
        /* border-top: 1px solid rgb(60, 243, 235); */
        flex-direction: column;
        align-items: center;
        /* background: linear-gradient(to bottom, rgb(56, 243, 235), rgb(24, 27, 164)); */
        background: linear-gradient(rgb(4, 7, 122),rgb(0, 1, 18));
        top: 10vh;
        width: 40%;
        right: 0px;
        transform: translateX(100%);
        transition: transform 0.6s ease-in;
    }

    .navlinks li {
        opacity: 0;
    }
    .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(-150%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.toggleBurger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggleBurger .line2 {
    opacity: 0;
}
.toggleBurger .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}


/* IMAGEBOX */
.imageBox {
    width: 80%;
    height: 50vh;
    margin: 10vh auto 0 auto;
    background-image: url('./images/laptop.jpg');
    background-size: 100% 60vh;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    opacity: 1;
}

.banner {
    width: 80%;
    margin: 0 auto;
}

.banner .logos {
    display: flex;
    justify-content: space-around;
}

.banner .logos img {
    width: 15vw;
    height: 15vw;
}


.banner h2, .about h2, .projects h2, .findMe h2 {
    text-align: center;
    font-size: calc(2em + 2vw);
    margin: 60px 0 20px 0;
}

.about {
    width: 60%;
    margin: 40px auto ; 
}
.about p {
    margin: 20px 0;
    text-align: center;
    font-size: calc(1em + 1vw);
}

.project-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-box {
    display: flex;
    flex-direction: column;
    width: 600px;
    flex-shrink: 0;
    margin: 20px auto;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 15px 15px;
}

.project-box .project-link {
    height: 200px;
}
.project-back {
    width: 100%;
    height: 200px;
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;

}
.project-details {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
}
.project-box p {
    text-align: center;
    padding: 10px 10px 0 10px;
    font-size: 20px;
    font-weight: 400;
}
.project-box .project-code {
    text-decoration: none;
    margin: 20px auto;
    background-color: rgb(4, 7, 122);
    color: white;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
}

.findMeBox {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto 20px auto;
    justify-content: space-around;
    background-color: rgb(4, 7, 122);
    color: white;
    border: 2px solid black;
    border-radius: 15px 15px;
}
.findMeContent {
    text-align: center;
}
.findMeDetail {
   margin: 15px 0; 
}
.findMeDetail h3 {
    font-size: calc(1.4em + .6vw);
    font-weight: 700;
}
.findMeDetail h4 {
    font-size: calc(1.2em + .6vw);
    font-weight: 400;
}
.findMeDetail a {
    color: white;
    font-size: calc(1.0em + .6vw);
    font-weight: 400;
    text-decoration: none;
    font-style: italic;
}
.findMeLinks img {
    width: 50px;
    height: 50px;
}

.mainArea .design {
    color:rgb(4, 7, 122);
    margin: 40px auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
.imageBox {
        width: 100%;
        height: 30vh;
}

.about {
    width: 80%;
}
.about p {
    font-weight: 500;
}

 .project-wrapper {
    width: 100%;
 }
.project-box {
    width: 100%;
    margin: 0 auto;
    border-radius: 0 0;
}
.project-back {
    border-top-left-radius: 0 0;
    border-top-right-radius: 0 0;
    cursor: pointer;
}

.banner {
    width: 90%;
}
    .findMeBox {
    width: 80%;
}
.findMeBox .findMeEmail {
    font-size: 16px;
}
}